{
  "settings": {
    "cert": "mesh.jssystem-server.xyz",
    "TLSOffload": true,
    "port": 4430,
    "aliasPort": 443,
    "redirPort": 0,
    "WANonly": true,
    "AgentPong": 300,
    "allowFraming": false,
    "plugins": { "enabled": false }
  },
  "domains": {
    "": {
      "title": "Suporte Remoto",
      "title2": "",
      "newAccounts": true,
      "minify": true
    }
  }
}
